<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_video_style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('index') }}" class="btn">Back to Dashboard</a>
    <div class="add-video-container">
        <div class="border">
            <div class="header">
                <h1 class="word">Add Video</h1>
            </div>
            <form action="{{ url_for('add_video_creator') }}" method="post">
                <label for="video_name">Video Name:</label>
                <input type="text" id="video_name" name="video_name" required>
                <br>
                <label for="channel_id">Channel:</label>
                    <select id="channel_id" name="channel_id" class="select" required >
                        {% for channel in channels %}
                            <option value="{{ channel[0] }}" >{{ channel[1] }}</option>
                        {% endfor %}
                    </select>
                <br>  
                <label for="status">Video Status:</label>
                    <select name="status" id="status" class="select" required>
                        <option value="0" >To be created</option>
                        <option value="1" >Shot</option>
                    </select>
                <br>
                <label for="shoot_timestamp">Shoot Timestamp:</label>
                <input type="datetime-local" id="shoot_timestamp" name="shoot_timestamp" >
                <br>
                <label for="edit_timestamp">Edit Timestamp:</label>
                <input type="datetime-local" id="edit_timestamp" name="edit_timestamp" >
                <br>
                <label for="upload_timestamp">Upload Timestamp:</label>
                <input type="datetime-local" id="upload_timestamp" name="upload_timestamp" >
                <br>
                <button type="submit" class="submitbtn">Add Video</button>
            </form>
                       
        </div>
    </div>
    {% if msg %}
        <script>
            alert("{{ msg }}");
        </script>
    {% endif %}
</body>
</html>
