<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_video_style.css') }}">
</head>
<body>
    {% if session['user_type'] == 0 %}    
    <a href="{{ url_for('view_videos') }}" class="btn">Back to View </a>
    {% endif %}
    {% if session['user_type'] == 1 %}
        <a href="{{ url_for('view_videos') }}" class="btn">Back to View videos</a>
    {% endif %}
    <div class="add-video-container">
        <div class="border">
            <div class="header">
                <h1 class="word">Edit Video</h1>
            </div>
        <form action="{{ url_for('edit_video', video_id=video[0]) }}" method="post">
            <label for="video_name">Video Name:</label>
            <input type="text" id="video_name" name="video_name" value="{{ video[2] }}" required>
            <br>
            <label for="channel_id">Channel:</label>
                <select id="channel_id" name="channel_id" class="select" required >
                    {% for channel in channels %}
                        <option value="{{ channel[0] }}" >{{ channel[1] }}</option>
                    {% endfor %}
                </select>
            <br>  
            <label for="status">Video Status:</label>
                <select name="status" id="status" class="select" required>
                    <option value="0" {% if video[8] == 0 %}selected{% endif %}>To be created</option>
                    <option value="1" {% if video[8] == 1 %}selected{% endif %}>Shot</option>
                    <option value="2" {% if video[8] == 2 %}selected{% endif %}>Edited</option>
                    <option value="3" {% if video[8] == 3 %}selected{% endif %}>To be Reshot</option>
                    <option value="4" {% if video[8] == 4 %}selected{% endif %}>To be Re-edited</option>
                    <option value="6" {% if video[8] == 6 %}selected{% endif %}>Uploaded</option>
                    <option value="7" {% if video[8] == 7 %}selected{% endif %}>Deleted</option>
                </select>
            <br>
            <label for="shoot_timestamp">Shoot Timestamp:</label>
            <input type="datetime-local" id="shoot_timestamp" name="shoot_timestamp" value="{{ video[5]|datetimeformat }}">
            <br>
            <label for="edit_timestamp">Edit Timestamp:</label>
            <input type="datetime-local" id="edit_timestamp" name="edit_timestamp" value="{{ video[6]|datetimeformat }}">
            <br>
            <label for="upload_timestamp">Upload Timestamp:</label>
            <input type="datetime-local" id="upload_timestamp" name="upload_timestamp" value="{{ video[7]|datetimeformat }}">
            <br>
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" ></textarea>
            <br>
            <button type="submit" class="submitbtn">Update Video</button>
        </form>
                       
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}

</div>
</div>
</body>
</html>
