<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Channel information</h1>
    <p>Channel id: {{ channel["id"] }}</p>
    <p>Channel name: {{ channel['name'] }}</p>
    <p>Channel Platform: {{ channel['platform'] }}</p>
    <p>Assigned Users:-</p>
    <ul>
        <p>Creator: {{ channel['creator'] }}</p>
        <p>Manager: {{ channel['manager'] }}</p>
        <p>Editor: {{ channel['editor'] }}</p>
        <p>Ops: {{ channel['ops'] }}</p>
    </ul>

    {% if stats!=False and stats != None  %}
        <p>stata: {{ stats['section_a'] }}</p>
        <p>statb: {{ stats['section_b'] }}</p>
        <p>Top 10 video:-</p>
        <table>
            <tbody>
                {% for video in stats['section_c'] %}
                    <tr>
                        {% for cell in video %}
                            <td>{{ video[cell] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Views and Watch time last 12 months:-</p>
        <table>
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Views</th>
                    <th>Watch time(Hours)</th>
                </tr>
            </thead>
            <tbody>
                {% for month in stats['section_d'] %}
                    <tr>
                        <td>{{ month[0] }}</td>
                        <td>{{ month[1] }}</td>
                        <td>{{ month[2]/60 }}</td>
                    </tr>
                {% endfor %}
    {% else %}
        <p>Please link the channel to access the Channel statistics</p>
    {% endif %}
</body>
</html>