<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_video_style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>
<body>
    <a href="{{ url_for('index') }}" class="btn">Back to Dashboard</a>
    <div class="add-channel-container">
        <div class="border">
            <div class="header">
                <h1 class="word">Add Video</h1>
            </div>
            <form action="{{ url_for('add_video') }}" method="post">
                <label for="video_name">Video Name:</label>
                <input type="text" id="video_name" name="video_name" required>
                <br>
                <label for="channel_id">Channel ID:</label>
                <select id="channel_id" name="channel_id" class="select" required onchange="filterUsersByChannel()">
                    {% for channel in channels %}
                        <option value="{{ channel[0] }}" data-creator="{{ channel[4] }}" data-editor="{{ channel[5] }}" data-manager="{{ channel[6] }}" data-ops="{{ channel[7] }}">{{ channel[1] }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="creator_id">Creator ID:</label>
                <select id="creator_id" name="creator_id" class="select" required>
                    {% for creator in creators %}
                        <option value="{{ creator[0] }}">{{ creator[1] }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="editor_id">Editor ID:</label>
                <select id="editor_id" name="editor_id" class="select" required>
                    {% for editor in editors %}
                        <option value="{{ editor[0] }}">{{ editor[1] }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="manager_id">Manager ID:</label>
                <select id="manager_id" name="manager_id" class="select" required>
                    {% for manager in managers %}
                        <option value="{{ manager[0] }}">{{ manager[1] }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="ops_id">Ops ID:</label>
                <select id="ops_id" name="ops_id" class="select" required>
                    {% for ops in opss %}
                        <option value="{{ ops[0] }}">{{ ops[1] }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit" class="submitbtn">Add Video</button>
            </form>
            
            <script>
            function filterUsersByChannel() {
                var channelSelect = document.getElementById('channel_id');
                var selectedChannel = channelSelect.options[channelSelect.selectedIndex];
            
                var creatorId = selectedChannel.getAttribute('data-creator');
                var editorId = selectedChannel.getAttribute('data-editor');
                var managerId = selectedChannel.getAttribute('data-manager');
                var opsId = selectedChannel.getAttribute('data-ops');
            
                filterSelectOptions('creator_id', creatorId);
                filterSelectOptions('editor_id', editorId);
                filterSelectOptions('manager_id', managerId);
                filterSelectOptions('ops_id', opsId);
            }
            
            function filterSelectOptions(selectId, idToMatch) {
                var selectElement = document.getElementById(selectId);
                for (var i = 0; i < selectElement.options.length; i++) {
                    var option = selectElement.options[i];
                    if (option.value == idToMatch) {
                        option.style.display = 'block';
                        option.selected = true;
                    } else {
                        option.style.display = 'none';
                    }
                }
            }
            
            document.addEventListener('DOMContentLoaded', function () {
                filterUsersByChannel();  // Filter users on page load based on the default selected channel
            });
            </script>
            
            
        </div>
    </div>
    {% if msg %}
        <script>
            alert("{{ msg }}");
        </script>
    {% endif %}
</body>
</html>
