<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Channel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_channel_style.css') }}">
</head>
<body>
    <div class="edit-channel-container">
        <div class="border">
            <div class="header">
                <h1 class="word">Edit Channel</h1>
            </div>
            <form method="POST">
                <label for="channel_name">Channel Name:</label>
                <input type="text" name="channel_name" value="{{ channel[1] }}" required>
                <br>
                <label for="url">URL:</label>
                <input type="url" name="url" value="{{ channel[2] }}" required>
                <br>
                <label for="platform">Platform:</label>
                <select name="platform" required>
                    <option value="0" {% if channel[3] == 0 %}selected{% endif %}>0 - Youtube</option>
                    <!-- Add more options as needed -->
                </select>
                <br>   
                <label for="creator_id">Creator ID:</label>
                   <select id="creator_id" name="creator_id" class="select" required>
                      {% for creator in creators %}
                          <option value="{{ creator[0] }}">{{ creator[1] }}</option>
                      {% endfor %}
                   </select>
                <br>
                    <label for="editor_id">Editor ID:</label>
                    <select id="editor_id" name="editor_id" class="select" required>
                        {% for editor in editors %}
                            <option value="{{ editor[0] }}">{{ editor[1] }}</option>
                        {% endfor %}
                    </select>
                <br>
                    <label for="manager_id">Manager ID:</label>
                    <select id="manager_id" name="manager_id" class="select" required>
                        {% for manager in managers %}
                            <option value="{{ manager[0] }}">{{ manager[1] }}</option>
                        {% endfor %}
                    </select>
                <br>
                    <label for="ops_id">Ops ID:</label>
                    <select id="ops_id" name="ops_id" class="select" required>
                        {% for ops in opss %}
                            <option value="{{ ops[0] }}">{{ ops[1] }}</option>
                        {% endfor %}
                    </select>
                <br>
                <label for="status">Status:</label>
                <select id="status" name="status" class="select" required>
                    <option value="0" {% if channel[8] == 0 %}selected{% endif %}>Active</option>
                    <option value="1" {% if channel[8] == 1 %}selected{% endif %}>Inactive</option>
                    <option value="2" {% if channel[8] == 2 %}selected{% endif %}>To be deleted</option>
                    <option value="3" {% if channel[8] == 3 %}selected{% endif %}>Deleted</option>
                </select>
                <br>
                <input type="submit" value="Update Channel">
            </form>
            <p>{{ msg }}</p>
            <a href="{{ url_for('view_channels') }}" class="btn">Back to Channels</a>
        </div>
    </div>
</body>
</html>
