<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_video_style.css') }}">
</head>
<body>
    <a href="{{ url_for('view_videos') }}" class="btn">Back to View Videos</a>
    <div class="add-video-container">
        <div class="border">
            <div class="header">
                <h1 class="word">Edit Video</h1>
            </div>
        <form action="{{ url_for('edit_video', video_id=video[0]) }}" method="post">
            <label for="video_name">Video Name:</label>
            <input type="text" id="video_name" name="video_name" value="{{ video[2] }}" required>
            <br>
            <label for="channel_id">Channel:</label>
                <select id="channel_id" name="channel_id" class="select" required >
                    {% for channel in channels %}
                        <option value="{{ channel[0] }}" >{{ channel[1] }}</option>
                    {% endfor %}
                </select>
            <br>  
            <label for="status">Video Status:</label>
                <select name="status" id="status" class="select" required>
                    <option disabled selected value> Set Video Status </option>
                    <option value="0" >To be created</option>
                    <option value="1" >Shot</option>
                    <option value="2" >Edited</option>
                    <option value="3" >To be Reshot</option>
                    <option value="4" >To be Re-edited</option>
                    <option value="6" >Uploaded</option>
                    <option value="7" >Deleted</option>
                </select>
            <br>
            <label for="shoot_timestamp">Shoot Timestamp:</label>
            <input type="datetime-local" id="shoot_timestamp" name="shoot_timestamp" >
            <br>
            <label for="edit_timestamp">Edit Timestamp:</label>
            <input type="datetime-local" id="edit_timestamp" name="edit_timestamp" >
            <br>
            <label for="upload_timestamp">Upload Timestamp:</label>
            <input type="datetime-local" id="upload_timestamp" name="upload_timestamp" >
            <br>
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" ></textarea>
            <br>
            <button type="submit" class="submitbtn">Update Video</button>
        </form>
                       
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}

</div>
</div>
</body>
</html>
