{% extends "base.html" %}
{% block headtag %}
    <title>Edit Channel</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block content %}
    <div class="row p-2">
        <nav class="gx-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('view_all_channels')}}">Channels</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('view_single_channel',channel_id=channel[0])}}">{{ channel[1] }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Channel</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <h1>Edit Channel</h1>
        <form method="POST" action="{{ url_for('edit_channel', channel_id=channel[0]) }}">
            <input type="hidden" name="channel_id" value="{{ channel[0] }}">
            <div class="mb-3">
                <label for="channel_name" class="form-label">Channel Name</label>
                <input type="text" class="form-control" id="channel_name" name="channel_name" value="{{ channel[1] }}" required>
            </div>
            <div class="mb-3">
                <label for="platform" class="form-label">Channel Name</label>
                <select class="form-select" id="platform" name="platform" required>
                    {% for key, value in platform.items() %}
                        <option value="{{ key }}" {% if key == channel[2] %} selected {% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="creator_id" class="form-label">Channel Creator</label>
                <select class="form-select" id="creator_id" name="creator_id" required>
                    {% for creator in creators %}
                        <option value="{{ creator[0] }}" {% if creator[0] == channel[3] %} selected {% endif %}>{{ creator[1] }} ({{ creator[2] }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="editor_id" class="form-label">Channel Editor</label>
                <select class="form-select" id="editor_id" name="editor_id" required>
                    {% for editor in editors %}
                        <option value="{{ editor[0] }}" {% if editor[0] == channel[4] %} selected {% endif %}>{{ editor[1] }} ({{ editor[2] }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="ops_id" class="form-label">Channel Ops</label>
                <select class="form-select" id="ops_id" name="ops_id" required>
                    {% for ops in opss %}
                        <option value="{{ ops[0] }}" {% if ops[0] == channel[6] %} selected {% endif %}>{{ ops[1] }} ({{ ops[2] }})</option>
                    {% endfor %}
                </select>
            <div class="mb-3">
                <label for="manager_id" class="form-label">Channel Manager</label>
                <select class="form-select" id="manager_id" name="manager_id" required>
                    {% for manager in managers %}
                        <option value="{{ manager[0] }}" {% if manager[0] == channel[5] %} selected {% endif %}>{{ manager[1] }} ({{ manager[2] }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Channel Status</label>
                <select class="form-select" id="status" name="status" required>
                    {% for key, value in status.items() %}
                        <option value="{{ key }}" {% if key == channel[7] %} selected {% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if channel[8] == "{}" %}
                <div class="mb-3">
                    <a class="btn btn-secondary" href="{{ url_for('oauth') }}">Link Channel</a>
                </div>
            {% else %}
                <div class="mb-3">
                    <a class="btn btn-secondary" href="{{ url_for('unlink_channel', channel_id=channel[0]) }}">Unlink Channel</a>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% if msg %}
        <script>
            alert("{{ msg }}");
        </script>
    {% endif %}
{% endblock %}