<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Channel</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">
                    <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Video School CMS
                </span>
                <div class="d-flex">
                    <a class="btn btn-outline-light" style="margin-right: 3%;" href="{{ url_for('logout') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
                            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                        </svg>
                    </a>
                    <a class="btn btn-outline-light" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </nav>
    <div class="row p-2">
        <nav class="gx-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('view_all_channels')}}">Channels</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('view_single_channel',channel_id=channel[0])}}">{{ channel[1] }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Channel</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <h1>Edit Channel</h1>
        <form method="POST" action="{{ url_for('edit_channel', channel_id=channel[0]) }}">
            <input type="hidden" name="channel_id" value="{{ channel[0] }}">
            <div class="mb-3">
                <label for="channel_name" class="form-label">Channel Name</label>
                <input type="text" class="form-control" id="channel_name" name="channel_name" value="{{ channel[1] }}" required>
            </div>
            <div class="mb-3">
                <label for="platform" class="form-label">Channel Name</label>
                <select class="form-select" id="platform" name="platform" required>
                    {% for key, value in platform.items() %}
                        <option value="{{ key }}" {% if key == channel[2] %} selected {% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="creator_id" class="form-label">Channel Creator</label>
                <select class="form-select" id="creator_id" name="creator_id" required>
                    {% for creator in creators %}
                        <option value="{{ creator[0] }}" {% if creator[0] == channel[3] %} selected {% endif %}>{{ creator[1] }} ({{ creator[2] }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="editor_id" class="form-label">Channel Editor</label>
                <select class="form-select" id="editor_id" name="editor_id" required>
                    {% for editor in editors %}
                        <option value="{{ editor[0] }}" {% if editor[0] == channel[4] %} selected {% endif %}>{{ editor[1] }} ({{ editor[2] }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="ops_id" class="form-label">Channel Ops</label>
                <select class="form-select" id="ops_id" name="ops_id" required>
                    {% for ops in opss %}
                        <option value="{{ ops[0] }}" {% if ops[0] == channel[6] %} selected {% endif %}>{{ ops[1] }} ({{ ops[2] }})</option>
                    {% endfor %}
                </select>
            <div class="mb-3">
                <label for="manager_id" class="form-label">Channel Manager</label>
                <select class="form-select" id="manager_id" name="manager_id" required>
                    {% for manager in managers %}
                        <option value="{{ manager[0] }}" {% if manager[0] == channel[5] %} selected {% endif %}>{{ manager[1] }} ({{ manager[2] }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Channel Status</label>
                <select class="form-select" id="status" name="status" required>
                    {% for key, value in status.items() %}
                        <option value="{{ key }}" {% if key == channel[7] %} selected {% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if channel[8] == "{}" %}
                <div class="mb-3">
                    <a class="btn btn-secondary" href="{{ url_for('oauth') }}">Link Channel</a>
                </div>
            {% else %}
                <div class="mb-3">
                    <a class="btn btn-secondary" href="{{ url_for('unlink_channel', channel_id=channel[0]) }}">Unlink Channel</a>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    {% if msg %}
        <script>
            alert("{{ msg }}");
        </script>
    {% endif %}
</body>
</html>
