{% extends "base.html" %}
{% block headtag %}
    <title>Import Videos</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block content %}
    <div class="row p-2">
        <nav class="gx-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('view_all_channels')}}">Channels</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('view_single_channel',channel_id=channel[0])}}">{{channel[1]}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Import Videos</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <h1>Upload New File(CSV)</h1>
        <form method='post' enctype='multipart/form-data'>
            <div class="mb-3">
                <input class="form-control" type=file name=file>
            </div>
            <button class="btn btn-primary" type=submit>Upload</button>
        </form>
        <br>
        <br>
        <p>Note: For CSV the table format must be followed or else the input will refuse to proceed. Reference the image below to understand the format from the table header names to the date format of dd-mmm-yy</p>
        <img src="{{ url_for('static', filename='ideal_table.png') }}" class="img-fluid rounded mx-auto d-block" alt="Ideal table format">
    </div>
{% endblock %}