<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='view_videos_style.css') }}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body >
    <a href="{{ url_for('index') }}" class="btn">Back to Dashboard</a>
    <div class="view-users-container">
        <div class="border">
            <div class="header">
                <h1 class="word">View Users</h1>
            </div>
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}
            
                <table >
                    <thead>
                        <tr>
                            <th>Channel Name</th>
                            <th>Creator Assigned</th>
                            <th>Editor Assigned</th>
                            <th>Operator Assigned</th>                   
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for channel in channels %}
                            <tr>
                                <td>{{ channel[1] }}</td>
                                <td>{{ creator_dict.get(channel[4], 'Unknown') }}</td>                            
                                <td>{{ editor_dict.get(channel[5], 'Unknown') }}</td>
                                <td>{{ ops_dict.get(channel[7], 'Unknown') }}</td>
                                
                               
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
        </div>
    </div>
    
</body>
</html>
