{% extends "base.html" %}
{% block headtag %}
    <title>Stats</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block content %}
    <div class="row p-2">
        <nav class="gx-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% if sessionvar['user_type'] == 0 %}
                    <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('view_all_channels')}}">Channels</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('view_single_channel',channel_id=channel[0])}}">{{channel[1]}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Channel Stats</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('view_single_channel',channel_id=channel[0])}}">{{channel[1]}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Channel Stats</li>
                {% endif %}
            </ol>
        </nav>
    </div>
    <div class="container">
        <h1>Channel Statistics</h1>
        {% if linked %}
            <h3><a id="channel_url" href="" target="_blank">{{channel[1]}}</a></h3>
            <p class="fw-semibold">Total No. of Subscribers: <span id="total_sub_count"><span class="spinner-border spinner-border-sm ms-auto" role="status" aria-hidden="true"></span></span> </p>
            <p class="fw-semibold">Total No. of Views: <span id="total_view_count"><span class="spinner-border spinner-border-sm ms-auto" role="status" aria-hidden="true"></span></span></p>
            <p class="fw-semibold">Total No. of Videos: <span id="total_video_count"><span class="spinner-border spinner-border-sm ms-auto" role="status" aria-hidden="true"></span></span></p>
            <p class="fw-semibold">Total Watch time (in Hours): <span id="total_watch_count"><span class="spinner-border spinner-border-sm ms-auto" role="status" aria-hidden="true"></span></span></p>

            <div class="row mb-3">
                <div class="col">
                    <label for="topVideosTimeRangeSelect" class="form-label"><h3>Top 10 Videos:</h3> </label>
                    <select class="form-select" id="topVideosTimeRangeSelect" aria-label="Time Range Select">
                        <option value="alltime" selected>All Time</option>
                        <option value="last_7_days">Last 7 Days</option>
                        <option value="last_30_days">Last 30 Days</option>
                        <option value="last_90_days">Last 90 Days</option>
                        <option value="last_6_months">Last Six Months</option>
                        <option value="past_year">Last Year</option>
                    </select>
                </div>
            </div>
    
            <div id="videosTableContainer">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>

            <div>
                <label for="subscribersTimeRangeSelect" class="form-label"><h3>Subscribers Chart: </h3></label>
                <select id="subscribersTimeRangeSelect" class="form-select">
                    <option value="last_7_days" selected>Last 7 Days</option>
                    <option value="last_30_days">Last 30 Days</option>
                    <option value="last_90_days">Last 90 Days</option>
                    <option value="last_6_months">Last Six Months</option>
                    <option value="past_year">Last Year</option>
                </select>
            </div>
            <canvas id="subscriberChart"></canvas>

            <div>
                <label for="likesTimeRangeSelect" class="form-label"><h3>Likes Chart: </h3></label>
                <select id="likesTimeRangeSelect" class="form-select">
                    <option value="last_7_days" selected>Last 7 Days</option>
                    <option value="last_30_days">Last 30 Days</option>
                    <option value="last_90_days">Last 90 Days</option>
                    <option value="last_6_months">Last Six Months</option>
                    <option value="past_year">Last Year</option>
                </select>
            </div>
            <canvas id="likesChart"></canvas>

            <div>
                <label for="avdTimeRangeSelect" class="form-label"><h3>Average View Duration Chart: </h3></label>
                <select id="avdTimeRangeSelect" class="form-select">
                    <option value="last_7_days" selected>Last 7 Days</option>
                    <option value="last_30_days">Last 30 Days</option>
                    <option value="last_90_days">Last 90 Days</option>
                    <option value="last_6_months">Last Six Months</option>
                    <option value="past_year">Last Year</option>
                </select>
            </div>
            <canvas id="avdChart"></canvas>
            
        {% else %}
            <p>Please link the channel to access the Channel statistics</p>
        {% endif %}
        <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% if linked %}
        <script>
        
            // define variables to hold the total subscriber, view, video and watch time count objects
            const tsub = document.getElementById('total_sub_count'); // total subscriber count element
            const tview = document.getElementById('total_view_count'); // total view count element
            const tvideo = document.getElementById('total_video_count'); // total video count element
            const twatch = document.getElementById('total_watch_count'); // total watch time count element
            const channel_url = document.getElementById('channel_url'); // channel url element

            const topVideosTimeRangeSelect = document.getElementById('topVideosTimeRangeSelect'); // top videos time range select element
            const videosTableContainer = document.getElementById('videosTableContainer'); // videos table container element
            
            // Subscriber chart related variable definitions
            const subscribersTimeRangeSelect = document.getElementById('subscribersTimeRangeSelect'); // subscribers time range select element
            let subData; // variable to hold the subscriber data
            let subchart; // variable to hold the subscriber chart object

            // Likes chart related variable definitions
            const likesTimeRangeSelect = document.getElementById('likesTimeRangeSelect'); // likes time range select element
            let likeData; // variable to hold the like data
            let likechart; // variable to hold the like chart object
            
            // Average View Duration chart related variable definitions
            const avdTimeRangeSelect = document.getElementById('avdTimeRangeSelect'); // average view duration time range select element
            let avdData; // variable to hold the average view duration data
            let avdchart; // variable to hold the average view duration chart object

            // function to create the top 10 videos table
            function createVideosTable(data) {
                let videos = data;
                // creating the table header
                let tableHTML = `
                    <table class="table table-striped">
                        <thead class="table-dark caption-top">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Views</th>
                            </tr>
                        </thead>
                        <tbody>
                `;
                // adding rows to the table
                videos.forEach((video, index) => {
                    tableHTML += `
                        <tr>
                            <th scope="row">${index + 1}</th>
                            <td><a href="https://www.youtube.com/watch?v=${video['id']}" target="_blank">${video['title']}</a></td>
                            <td>${video['views']}</td>
                        </tr>
                    `;
                });
                // closing the table
                tableHTML += `
                        </tbody>
                    </table>
                `;
                // setting the innerHTML of the videosTableContainer to the tableHTML
                videosTableContainer.innerHTML = tableHTML;
            }

            // funtion to create subscriber chart
            function createSubChart(data) {
                const ctx = document.getElementById('subscriberChart').getContext('2d');
                subchart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Subscribers Gained',
                            data: data.gained,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        }, {
                            label: 'Subscribers Lost',
                            data: data.lost,
                            borderColor: 'rgba(255, 99, 132, 1)',
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Subscribers Over Time'
                            }
                        }
                    },
                });
            }

            // function to update the sub chart
            function updateSubChart(period) {
                const selectedData = subData;
                const labels = selectedData.map(entry => entry.date);
                const gained = selectedData.map(entry => entry.subscribersGained);
                const lost = selectedData.map(entry => entry.subscribersLost);

                const data = {
                    labels: labels,
                    gained: gained,
                    lost: lost
                };
                
                if (subchart) {
                    subchart.destroy();
                }
                
                createSubChart(data);
            }

            // function to create likes chart
            function createLikeChart(data) {
                const ctx = document.getElementById('likesChart').getContext('2d');
                const likechart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Likes',
                            data: data.likes,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Likes Over Time'
                            }
                        }
                    },
                })
            }

            // function to update likes chart
            function updateLikeChart(period) {
                const selectedData = likeData;
                const labels = selectedData.map(entry => entry.date);
                const likes = selectedData.map(entry => entry.likes);

                const data = {
                    labels: labels,
                    likes:likes
                };
                
                if (likechart) {
                    likechart.destroy();
                }
                
                createLikeChart(data);
            }

            // function to create likes chart
            function createAVDChart(data) {
                const ctx = document.getElementById('avdChart').getContext('2d');
                const likechart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'View Duration',
                            data: data.likes,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Average View Duration Over Time'
                            }
                        }
                    },
                })
            }

            // function to update likes chart
            function updateAVDChart(period) {
                const selectedData = avdData;
                const labels = selectedData.map(entry => entry.date);
                const gained = selectedData.map(entry => entry.subscribersGained);
                const lost = selectedData.map(entry => entry.subscribersLost);

                const data = {
                    labels: labels,
                    gained: gained,
                    lost: lost
                };
                
                if (avdchart) {
                    avdchart.destroy();
                }
                
                createAVDChart(data);
            }

            // fetch the default stats to show on page inital load
            fetch("{{ url_for('get_stat_api', channel_id=channel[0]) }}", {
                method: "post",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    req_type: "default"
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // setting the innerHTML of the variables to the respective values
                tsub.innerHTML = data['base']['subscriber_Count'];
                tview.innerHTML = data['base']['view_Count'];
                tvideo.innerHTML = data['base']['video_Count'];
                twatch.innerHTML = data['base']['watch_Time'];
                channel_url.href = "https://www.youtube.com/channel/" + data['base']['url'];
                
                // setting up top 10 videos table
                topVideosTimeRangeSelect.value = "alltime";
                createVideosTable(data['topVideos']);
                
                // setting up subscribers chart
                subData = data['subscriberData'];
                subscribersTimeRangeSelect.value = "last_7_days";
                updateSubChart(subData);

                // settings up likes chart
                likeData = data['likeData'];
                likesTimeRangeSelect.value = "last_7_days";
                updateLikeChart(likeData);

                // settings up average view duration chart
                avdData = data['averageViewDuration'];
                avdTimeRangeSelect.value = "last_7_days";
                updateAVDChart(avdData)
            });

            // event listener when top videos time range is changed
            topVideosTimeRangeSelect.addEventListener('change', function () {
                videosTableContainer.innerHTML = `
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                `;
                console.log("Time Range Changed to: ", this.value);
                fetch("{{ url_for('get_stat_api', channel_id=channel[0]) }}", {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        req_type: "videos",
                        time_range: this.value
                    })
                }).then(response => response.json())
                .then(data => {
                    console.log(data);
                    createVideosTable(data['data']);
                });
            });
            
            subscribersTimeRangeSelect.addEventListener('change', function () {
                fetch("{{ url_for('get_stat_api', channel_id=channel[0]) }}", {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        req_type: "subs",
                        time_range: this.value
                    })
                }).then(response => response.json())
                .then(data => {
                    console.log(data);
                    subData = data["data"];
                    updateSubChart(subData);
                });

                        
            })

        </script>
    {% endif %}

{% endblock %}