{% extends "base.html" %}
{% block headtag %}
    <title>Stats</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block content %}
    <div class="row p-2">
        <nav class="gx-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% if sessionvar['user_type'] == 0 %}
                    <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('view_all_channels')}}">Channels</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('view_single_channel',channel_id=channel[0])}}">{{channel[1]}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Channel Stats</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('view_single_channel',channel_id=channel[0])}}">{{channel[1]}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Channel Stats</li>
                {% endif %}
            </ol>
        </nav>
    </div>
    <div class="container">
        <h1>Channel Statistics</h1>
        {% if stats %}
            <h3><a href="http://youtube.com/{{ stats['section1']['url'] }}" target="_blank">{{channel[1]}}</a></h3>
            <p class="fw-semibold">Total No. of Subscribers: {{ stats['section1']['subscriber_Count'] }}</p>
            <p class="fw-semibold">Total No. of Views: {{ stats['section1']['view_Count'] }}</p>
            <p class="fw-semibold">Total No. of Videos: {{ stats['section1']['video_Count'] }}</p>
            <p class="fw-semibold">Total Watch time (in Hours): {{ stats['section1']['watch_time'] }}</p>

            <div class="row mb-3">
                <div class="col">
                    <label for="timeRangeSelect" class="form-label"><h3>Top 10 Videos:</h3> </label>
                    <select class="form-select" id="timeRangeSelect" aria-label="Time Range Select">
                        <option value="alltime" selected>All Time</option>
                        <option value="last_7_days">Last 7 Days</option>
                        <option value="last_30_days">Last 30 Days</option>
                        <option value="last_90_days">Last 90 Days</option>
                        <option value="last_6_months">Last Six Months</option>
                        <option value="past_year">Last Year</option>
                    </select>
                </div>
            </div>
    
            <div id="videosTableContainer">
            </div>
            

            {% if stats['section3'] %}
                <div>
                    <label for="timePeriod" class="form-label"><h3>Subscribers Count: </h3></label>
                    <select id="timePeriod" onchange="updateChart()" class="form-select">
                        <option value="last_7_days" selected>Last 7 Days</option>
                        <option value="last_30_days">Last 30 Days</option>
                        <option value="last_90_days">Last 90 Days</option>
                        <option value="last_6_months">Last Six Months</option>
                        <option value="past_year">Last Year</option>
                    </select>
                </div>
                <canvas id="subscriberChart"></canvas>
                <script>
                    const rawData = {{ stats['section3']|tojson }};
                </script>
            {% else %}
                <p>Please link the channel to access the Channel statistics</p>
            {% endif %}
            
        {% else %}
            <p>Please link the channel to access the Channel statistics</p>
        {% endif %}
        <div>
            <canvas id="ViewChart"></canvas>
        </div>
        <br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            
                const stats = {{ stats | tojson }};
                const timeRangeSelect = document.getElementById('timeRangeSelect');
                const videosTableContainer = document.getElementById('videosTableContainer');
        
                function createVideosTable(timeRange) {
                    let videos = stats['section2'][timeRange];
                    let tableHTML = `
                        <table class="table table-striped">
                            
                            <thead class="table-dark caption-top">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Views</th>
                                </tr>
                            </thead>
                            <tbody>
                    `;
        
                    videos.forEach((video, index) => {
                        tableHTML += `
                            <tr>
                                <th scope="row">${index + 1}</th>
                                <td><a href="https://www.youtube.com/watch?v=${video['id']}" target="_blank">${video['title']}</a></td>
                                <td>${video['views']}</td>
                            </tr>
                        `;
                    });
        
                    tableHTML += `
                            </tbody>
                        </table>
                    `;
        
                    videosTableContainer.innerHTML = tableHTML;
                }
        
                timeRangeSelect.addEventListener('change', function () {
                    createVideosTable(this.value);
                });
        
                // Initialize with default value
                createVideosTable(timeRangeSelect.value);
        });
        
    </script>
    <script>
        let chart;
       
        
        function createChart(data) {
            const ctx = document.getElementById('subscriberChart').getContext('2d');
            chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Subscribers Gained',
                        data: data.gained,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    }, {
                        label: 'Subscribers Lost',
                        data: data.lost,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Subscribers Over Time'
                        }
                    }
                },
            });
        }

        function updateChart() {
            const period = document.getElementById('timePeriod').value;
            const selectedData = rawData[period];

            const labels = selectedData.map(entry => entry.date);
            const gained = selectedData.map(entry => entry.subscribersGained);
            const lost = selectedData.map(entry => entry.subscribersLost);

            const data = {
                labels: labels,
                gained: gained,
                lost: lost
            };
            
            if (chart) {
                chart.destroy();
            }
            
            createChart(data);
        }

        document.addEventListener('DOMContentLoaded', updateChart);
        
    </script>
    <script>
        // Script tag to get and show stats on page
    </script>
{% endblock %}