<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='view_videos_style.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Dashboard</a>
    <div class="view-videos-container">
        <div class="border">
            <div class="header">
                <h1 class="word">View Videos</h1>
            </div>
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}
    <table>
        <thead>
            <tr>
                <th>ID </th>
                <th>Video Name </th>
                <th>Channel </th>
               
                <th>Shoot Date </th>
                <th>Edit Date </th>
                <th>Upload Date </th>
                <th>Status</th>
                <th> Update Status </th>
                <th>Comment </th>
                <th>Edit</th>

            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
            <tr>
                <td>{{ video[0] }}</td>
                <td>{{ video[2] }}</td>
                <td>{{ channel_dict.get(video[3], 'Unknown') }}</td>

                
                <td class="shoot_timestamp"> {{ video[4] }}</td>
                <td class="edit_timestamp">{{ video[5] }}</td>
                <td class="upload_timestamp">{{ video[6] }}</td>

                
                <td>  {% set status_dict = {
                    0: "TO BE CREATED",
                    1: "SHOT",
                    2: "EDITED",
                    3: "TO BE RESHOT",
                    4: "TO BE REDITED",
                    6: "UPLOADED",
                    7: "DELETED"
                } %}
                {{ status_dict[video[7]] }}
                </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="openModal('{{ video[0] }}',' {{ video[7] }}', '{{ video[8] }}')">Update Status</button>
                </td>
                <td> {{ video[8] }}</td>
                <td>
                    <a href="{{ url_for('edit_video_creator', video_id=video[0]) }}" class="btn">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const updateTimestamps = (selector) => {
            const elements = document.querySelectorAll(selector);
            elements.forEach(function(element) {
                const timestamp = parseInt(element.textContent);
                if (isNaN(timestamp) || timestamp === 0) {
                    element.textContent = "No date specified";
                } else {
                    const date = new Date(timestamp * 1000);
                    element.textContent = date.toISOString().slice(0, 19).replace('T', ' ');
                }
            });
        };

        updateTimestamps('.shoot_timestamp');
        updateTimestamps('.edit_timestamp');
        updateTimestamps('.upload_timestamp');
    });
    // Function to open modal and set video_id in the form
    function openModal(video_id, status, comment) {
            document.getElementById('video_id').value = video_id;
            document.getElementById('status').value = status;
            document.getElementById('comment').value = comment || '';
            $('#updateModal').modal('show');
    }
</script>
 <!-- Modal -->
 <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Video Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('update_video_status') }}" method="post" id="updateStatusForm">
                    <input type="hidden" name="video_id" id="video_id">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select name="status" id="status" class="form-control" required>
                            <option disabled selected value> Set Video Status </option>
                            <option value="0" >To be created</option>
                            <option value="1" >Shot</option>
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea name="comment" id="comment" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

