<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='view_videos_style.css') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="btn">Back to Dashboard</a>
    <div class="view-videos-container">
        <div class="border">
            <div class="header">
                <h1 class="word">View Videos</h1>
            </div>
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}
    <table>
        <thead>
            <tr>
                <th>ID </th>
                <th>Video Name </th>
                <th>Channel </th>
                <th>Creator </th>
                <th>Editor </th>
                <th>Manager </th>
                <th>Ops </th>
                <th>Shoot Date </th>
                <th>Edit Date </th>
                <th>Upload Date </th>
                <th>Status </th>
                <th>Comment </th>
                {% if session['user_type'] == 0 %}
                <th>Edit</th>
                <th>Delete</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
            <tr>
                <td>{{ video[0] }}</td>
                <td>{{ video[2] }}</td>
                <td>{{ channel_dict.get(video[3], 'Unknown') }}</td>

                {% if session['user_type'] == 0 %}
                <td>Creator</td>
                <td>editor</td>
                <td>manager</td>   
                <td>ops</td>

                <td class="shoot_timestamp"> {{ video[4] }}</td>
                <td class="edit_timestamp">{{ video[5] }}</td>
                <td class="upload_timestamp">{{ video[6] }}</td>
                {% endif %}

                <td>
                    <form action="{{ url_for('update_video_status', video_id=video[0]) }}" method="post">
                        <select name="status" onchange="this.form.submit()">
                            <option value="0" {% if video[7] == 0 %}selected{% endif %}>To be created</option>
                            <option value="1" {% if video[7] == 1 %}selected{% endif %}>Shot</option>
                            <option value="2" {% if video[7] == 2 %}selected{% endif %}>Edited</option>
                            <option value="3" {% if video[7] == 3 %}selected{% endif %}>To be Reshot</option>
                            <option value="4" {% if video[7] == 4 %}selected{% endif %}>To be Re-edited</option>
                            <option value="6" {% if video[7] == 6 %}selected{% endif %}>Uploaded</option>
                            <option value="7" {% if video[7] == 7 %}selected{% endif %}>Deleted</option>
                        </select>
                    </form>
                </td>
                <td> {{ video[8] }}</td>
                {% if session['user_type'] == 0 %}
                <td>
                    <a href="{{ url_for('edit_video', video_id=video[0]) }}" class="btn">Edit</a>
                </td>
                <td>
                    <a href="{{ url_for('delete_video', video_id=video[0]) }}" class="btn">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const updateTimestamps = (selector) => {
            const elements = document.querySelectorAll(selector);
            elements.forEach(function(element) {
                const timestamp = parseInt(element.textContent);
                if (isNaN(timestamp) || timestamp === 0) {
                    element.textContent = "No date specified";
                } else {
                    const date = new Date(timestamp * 1000);
                    element.textContent = date.toISOString().slice(0, 19).replace('T', ' ');
                }
            });
        };

        updateTimestamps('.shoot_timestamp');
        updateTimestamps('.edit_timestamp');
        updateTimestamps('.upload_timestamp');
    });
</script>
</script>
</body>
</html>

