<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Channel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_channel_style.css') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="btn">Back to Dashboard</a>
    <div class="add-channel-container">
        <div class="border">
            <div class="header">
                <h1 class="word">Add Channel</h1>
            </div>
            <form method="POST">
                <label for="channel_name">Channel Name:</label>
                <input type="text" name="channel_name" required>
                <br>
                <label for="url">URL:</label>
                <input type="url" name="url" required>
                <br>
                <label for="platform">Platform:</label>
                <select name="platform" class="select" required>
                    <option value="0"> Youtube</option>
                </select>
                <br>
                <input type="submit" value="Add Channel">
            </form>
            <p>{{ msg }}</p>

        </div>
    </div>
    {% if msg %}
        <script>
            alert("{{ msg }}");
        </script>
    {% endif %}
</body>
</html>
