<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Channel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_channel_style.css') }}">
</head>
<body>
    <a href="{{ url_for('index') }}" class="btn">Back to Dashboard</a>
    <div class="add-channel-container">
        <div class="border">
            <div class="header">
                <h1 class="word">Add Channel</h1>
            </div>
            <form method="POST">
                <label for="channel_name">Channel Name:</label>
                <input type="text" name="channel_name" required>
                <br>
                   <label for="url">URL:</label>
                   <input type="url" name="url" required>
                <br>
                  <label for="platform">Platform:</label>
                    <select name="platform" class="select" required>
                      <option value="0"> Youtube</option>
                    </select>
                <br>
                <label for="creator_id">Creator ID:</label>
                   <select id="creator_id" name="creator_id" class="select" required>
                      {% for creator in creators %}
                          <option value="{{ creator[0] }}">{{ creator[1] }}</option>
                      {% endfor %}
                   </select>
                <br>
                    <label for="editor_id">Editor ID:</label>
                    <select id="editor_id" name="editor_id" class="select" required>
                        {% for editor in editors %}
                            <option value="{{ editor[0] }}">{{ editor[1] }}</option>
                        {% endfor %}
                    </select>
                <br>
                    <label for="manager_id">Manager ID:</label>
                    <select id="manager_id" name="manager_id" class="select" required>
                        {% for manager in managers %}
                            <option value="{{ manager[0] }}">{{ manager[1] }}</option>
                        {% endfor %}
                    </select>
                <br>
                    <label for="ops_id">Ops ID:</label>
                    <select id="ops_id" name="ops_id" class="select" required>
                        {% for ops in opss %}
                            <option value="{{ ops[0] }}">{{ ops[1] }}</option>
                        {% endfor %}
                    </select>
                <br>
                    <input type="submit" value="Add Channel">
            </form>
                <p>{{ msg }}</p>

        </div>   
    </div>
    {% if msg %}
        <script>
            alert("{{ msg }}");
        </script>
    {% endif %}
</body>
</html>
