<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add Video</h1>
    <form action="{{ url_for('add_video') }}" method="post">
        <label for="video_name">Video Name:</label>
        <input type="text" id="video_name" name="video_name" required>
        <br>
        <label for="channel_id">Channel ID:</label>
        <input type="text" id="channel_id" name="channel_id" required>
        <br>
        <label for="creator_id">Creator ID:</label>
        <input type="text" id="creator_id" name="creator_id" required>
        <br>
        <label for="editor_id">Editor ID:</label>
        <input type="text" id="editor_id" name="editor_id" required>
        <br>
        <label for="manager_id">Manager ID:</label>
        <input type="text" id="manager_id" name="manager_id" required>
        <br>
        <label for="operator_id">Ops ID:</label>
        <input type="text" id="operator_id" name="operator_id" required>
        <button type="submit">Add Video</button>
    </form>
    {% if msg %}
        <script>
            alert("{{ msg }}");
        </script>
    {% endif %}
</body>
</html>
