<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					 
</head>
<body>
    <div class="index-container">
        <div class="border">
            <div class="header">
                <h1 class="word">Index</h1>
            </div>
            <h1 class="bottom">
                Hi {{ session['username'] }}!!</br></br> Welcome to the index page...
            </h1>
            {% if session['user_type'] == 0 %}
                <a href="{{ url_for('add_user') }}" class="btn">Add User</a>
                <a href="{{ url_for('view_users') }}" class="btn">View Users</a>
                <a href="{{ url_for('view_logs') }}" class="btn">View Logs</a>                
            {% endif %}

            {% if session['user_type'] == 1 or session['user_type'] == 0 %}
                <a href="{{ url_for('add_video') }}" class="btn">Add Video</a>
            {% endif %}

            <a href="{{ url_for('logout') }}" class="btn">Logout</a>
        </div>
    </div>
</body>
</html>
